{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié | EspoirSurPattes{% endblock %}

{% block body %}

    {% include "security/layout/_form_banner.html.twig" %}

    {{ form_start(emailForm, {'attr': {'class': 'container new-password'}}) }}
        <div class="login-container-children">
            <div class="shadow-login-form">
                <div class="login-form-header text-center">
                    <div class="circle-icon-signup d-inline-flex">
                        <i class="far fa-address-card"></i>            
                    </div>
                    <h3>mot de passe oublié</h3>        
                </div>

                <div class="border-outter p-3">

                    <div class="form-error">
                        <p class="info-form m-0 p-0">Email</p>
                        {{ form_errors(emailForm.email) }}
                        {{ form_widget(emailForm.email, {
                            'attr': {
                                'class': 'select-rows mt-1',
                            }
                        }) }}
                    </div>
                    
                    <div class="login-btn-holder text-center">
                        {{ form_widget(emailForm.envoyer, {
                            'label': 'Envoyer',
                            'attr': {
                                'class': 'select-rows form-btn',
                                'type': 'submit'
                            }
                        }) }}
                    </div>
                    <p class="text-footer-login-form text-center mb-3">Pas encore membre ? <a href="{{ path('create_account') }}">Inscrivez-vous ici</a></p>
                </div>
                <div class="footer-login-form"></div>
            </div>

        </div>



    {{ form_end(emailForm) }}


{% endblock %}
