{# Start Footer Section  #}
<footer class="bg-color-footer">
	<div class="container px-4 padding-section">
		<div class="row">
			<div class="widget-group col-md-6 col-lg-3">
				<h4 class="widget-title">
					A propos
				</h4>
				<p class="widget-paragraph">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, et! Lorem ipsum dolor sit amet consectetur.
				</p>
			</div>
			<div class="widget-group col-md-6 col-lg-3">
				<h4 class="widget-title">
					Liens Rapides
				</h4>
				<ul class="widget-list">
					<li>
						<a href="{{ path('map') }}">La carte</a>
					</li>
					<li>
						<a href="{{ path('adoption') }}">Adoption</a>
					</li>
					<li>
						<a href="{{ path('blog') }}">Blog</a>
					</li>
					<li>
						<a href="{{ path ('contact') }}">Contact</a>
					</li>
					<li>
						<a href="{{ path ('about') }}">A propos</a>
					</li>
				</ul>
			</div>
			<div class="widget-group col-md-6 col-lg-3">
				<h4 class="widget-title">
					Nous contacter
				</h4>
				<div class="widget-paragraph">
					<p>00 Rue Completer<br/>00000 Lieu en France</p>
					<strong>Contact Info</strong>
					<p class="mt-1">(+00) 000 000 000<br/>espoirsurpattes@gmail.com</p>
					<a href="#">
						<i class="fab fa-facebook-square"></i>
					</a>
					<a href="#">
						<i class="fab fa-twitter-square"></i>
					</a>
					<a href="#">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="#">
						<i class="fab fa-reddit-square"></i>
					</a>
					<a href="#">
						<i class="fab fa-linkedin"></i>
					</a>
				</div>
			</div>
			<div class="widget-group col-md-6 col-lg-3">
				<h4 class="widget-title">
					Newsletter
				</h4>
				<div class="widget-paragraph">
					<div class="input-group pt-3 mb-3">
						<input type="text" class="form-control form-control-footer" placeholder="Entrez votre email" aria-label="Entrez votre email" aria-describedby="basic-addon2"/>
						<div class="input-group-append newsletter-btn">
							<i class="btn fas fa-arrow-alt-circle-right"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer text-center mt-5">
		<p class="widget-paragraph">
			<span class="signature-author">Made with <i class='fa fa-heart'></i> by <a href="#">Marie</a> & <a href="https://www.cedricpaje.fr">Cédric</a>
			</span><br/>
			&copy; <span class="copyright-theme" style="font-family: 'Fredoka One', cursive;">EspoirSurPattes</span> Theme
		</p>
	</div>
</footer>
{# End Footer Section  #}

{# Start Top Scroll  #}
<a href="#home" class="top-scroll">
	<i class="fas fa-angle-up"></i>
</a>
{# End Top Scroll #}
