{# Start Animal list  #}
<div class="container py-4 px-2 padding-section">
    <div class="text-center content-section">
        <h2 class="display-5 mt-3">Tout les animaux signalés du département {{ department.name}} </h2>
        <div class="custom-underline mx-auto my-4"></div>
    </div>
    <div class="d-flex flex-wrap justify-content-center">

        {# Start Loop Animal  #}
        {% for animalByDepartment in animalsByDepartment %}

            <div class="card mx-2 mb-4" style="width: 350px">
                <div class="crop-picture carousel-img d-flex align-items-center mb-2">
                    <img class="image" src="{{ asset('uploads/' ~ animalByDepartment.image) }}" alt="Animal Pictures"/>
                    <div class="overlay"></div>
                </div>
                <div class="card-body px-0 pb-0 text-center card-deco card-body-carousel">
                    <h5 class="card-title font-color font-weight-bold text-capitalize">{{ animalByDepartment.type.name}} {{ animalByDepartment.status }} </h5>
                    <p class="card-text text-muted mb-0"> Ville : {{ animalByDepartment.city}}</p>
                    <p class="card-text text-muted mb-0">  Sexe : {{ animalByDepartment.sex}}</p>
                    <p class="card-text text-muted">  Date : {{ animalByDepartment.createdAt.date|date("d/m/Y")}}</p>
                    
                    <a href="{{ path('animal_view', {id:animalByDepartment.id}) }}" class="btn py-3 btn-link">En savoir plus</a>
                </div>
            </div>

        {% endfor %}
        {# End Loop Animal #}
    </div>  
    {# Pagination #}
    <div class="navigation">
        {{ knp_pagination_render(animalsByDepartment) }}
    </div>
</div>
{# Start Animal list  #}